@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#frame,
#Eframe {
  width: 30vw;
  height: 30vh;
  border-radius: 40px;
  background-color: rgba(15, 83, 80, 0.514);
  background-position: top;
  background-repeat: no-repeat;
}

#Eframe {
  background-size: cover;
  background-clip: content-box;
}
