@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#frame,
#Eframe {
  height: 30vh;
  border-radius: 40px;
  background-color: rgba(15, 83, 80, 0.514);
  object-fit: cover;
  object-position: top;
}

#frame {
  width: 20vw;
  box-shadow: 0 0 10px 1px #ffffff, 0 0 20px 10px #00ff15bd;
}

#Eframe {
  box-shadow: 0 0 10px 1px #ffffff, 0 0 20px 10px #ff1c1cd0;
}

input,
textarea {
  color: #0a0a0a;
  padding: 5px;
}

.post-comment {
  width: 50vw;
  background-color: #ededed;
  height: 150px;
}

#del-button {
  box-shadow: 0 0 20px 5px red;
  height: 40px;
  align-self: center;
}

#initial-page {
  background-image: url(/images/background/dungeon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#sign-up,
#sign-in,
#init-title {
  box-shadow: 0 0 10px 2px rgb(255, 255, 255), 0 0 30px 10px rgb(122, 50, 255);
  margin-right: 10px;
  margin-left: 10px;
}
